*
{
    margin: 0;
    padding: 0;

}

a{
    color: none;
}

.TopNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 1;
    padding: 2rem;
}

.NavList{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
}

.NavList a{
   padding: 1rem;
   margin: 0;
   text-decoration: none;
   color: black;
   font-weight: bold;
}
a:hover{
    color: hotpink;
}

.searchbar{
    width: 90%;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin-right: 0;
    border: none;
    background-color: #e0dede;
}

::placeholder{
    padding: 1rem;

}

.TopNavBar form{
    width: 100%;
}

#searchOverlay, .searchbutton2{
    display: none;
}
.searchbutton{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
    margin-left: 0;
    background-color: #e0dede;  
    height: 40px;
    float: right;
    border: none;
    width: 10%;
}
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
  }
  .dropdown-content  {
    font-size: 15px;  
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  }
/* navigation */
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: gray;
    z-index: 1;
}
.navigation li{
    list-style-type: none;
}
.navigation li a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
}
.navigation li a:hover{
    color: black;
    background-color: whitesmoke;
}

/* bar */
.bar{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #fceef5;
}

.minibar{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minibar h4{
    font-weight: bold;
    margin-bottom: 0;
}

.minibar p{
    color: grey;
    margin-bottom: 0;
}
.minibar div{
    margin-left: 20px;
}
.minibar i{
    color: #ea86b6;
}

/* secttion */

.fabrics{
    width: 1200px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    
}

.fabrics img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.writeup{
    width: 30%;
    height: 70%;
    border: 5px solid white;
    position: absolute;
    z-index: 2;
    right: 35%;
    top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.writeup h3{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Zilla Slab Highlight', cursive;

}
.writeup p{
    color: black;
    background-color: hotpink;
    margin: 5px auto;
    padding: 5px;
    font-weight: bold;
}

.hair{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    margin: 20px auto;
    position: relative;
}

.hairimage{
    width: 33.33%;
    height: 100%;
    margin: 0;
}

.hairimage img{
    width: 100%;
    height: 100%;
}
.bar2{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: none;
    margin: 2rem 0 2rem 0;
}
.bar2 a{
    text-decoration: none;
    color: black;
}
.bar2 a:hover{
    color: hotpink;
}

.minibar2{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minibar2 h4{
    font-weight: bold;
    margin-bottom: 0;
}

.minibar2 p{
    color: grey;
    margin-bottom: 0;
}
.minibar2 div{
    margin: auto;
    justify-content: center;
    text-align: center;
}
.minibar2 i{
    color: #ea86b6;
}
.socials{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
.socials a{
    margin: 20px;
    color: black;
}
.socials a:hover{
    color: hotpink;
}
footer{
    height: 200px;
    width: 100%;
    justify-content: start;
    display: flex;
    background-color: #eeeeee;
}
footer div{
    margin: auto;
    display: flex;
    flex-direction: column;

}
footer h5{
    font-weight: bold;
}
footer a{
    color: grey
}
footer a:hover{
    color: hotpink;
    text-decoration: none; 
}

/*hair page*/
.container{
    margin: auto;
    width: 80%;
}
.product{
    text-align: center;
    padding: 0.5rem;

}
.product:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
h3{
    font-family: 'Yeseva One', cursive;
}
h4{
   
    font-family: 'Philosopher', sans-serif;
}
p{
    font-family: 'Alice', serif;
}

/* registration/sign in */

.reg{
    margin: auto;
    width: 50%;
    background-color: #f1f1f1;
}

.regBody{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}
.regBody P{
    margin-top: 2rem;
}
.regLogo{
    display: flex;
    justify-content: center;
    background-color: white;
}
.regTop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
.regTop1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  black;
    border-bottom: none;
    width: 50%;
    height: 50px;
    margin: 2rem 0 0 0rem;
}
.regTop2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    border-top:none;
    border-right: none;
    border-left: none;
    width: 50%;
    height: 50px;
    margin: 2rem 0rem 0 0;
    color: grey;
}
.regButtons{
    display: flex;
    justify-content: center;
}
.regButtons button{
    width: 12rem;
    margin: 0.5rem;   
}
.regButtons button i{
    margin-right: 2rem;
}
.quote1{
    margin: 2rem;
    font-size: 0.9rem;
    text-align: center;
}
.dimacation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dimacation p{
    font-weight: bold;
    margin: 0;
}
hr{
    width: 10rem;
    margin: 0.2rem;
}
.regForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;


}
.regForm p{
    font-size: smaller;
}
.regForm form{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}
.regForm form label{
    font-weight: bold;
    color: grey;
    margin-top: 1rem;
}
.regForm form input{
    width: 25rem;
    height: 3rem;
}
.areaDescription{
    margin: 0.2rem 0 0 0;
    font-size: 0.8rem;
}
.interest{
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.interest label{
    margin-top: 0.5rem;
}
#hairRadio, #fabricsRadio {
    width: 2rem;
    height: 1rem;
}
.productCard{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}




/* media q*/

@media (max-width: 1300px){
    .minibar img{
        width: 30%;
    }
    .minibar div{
        font-size: x-small;
    }
    .fabrics, .hair{
        width: 750px;
    }
    .writeup{
        width: 50%;
        left: 25%;
    }
    .writeup h3{
        color: #ffe9d6;
    }

}

@media (max-width: 700px){
    .TopNavBar .search1{
        display: none;
    }
    .TopNavBar{
        padding: 0.5rem;
    }
    .NavList a{
        padding: 0.5rem;
    }
    .overlay {
        height: 20%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.9);
      }
      
      .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 25px;
        right: 20px;
        font-size: 60px;
        cursor: pointer;
        color: white;
      }
      
      .overlay .closebtn:hover {
        color: #ccc;
      }
      
      .overlay input[type=text] {
        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 80%;
        background: white;
      }
      
      .overlay button {
        float: left;
        width: 20%;
        padding: 15px;
        background: #ddd;
        border: none;
        cursor: pointer;
      }
      
      .overlay button:hover {
        background: #bbb;
      }
      .searchbutton2{
          display: inline-block;
          padding: 0.5rem;
          background-color: white;
          border: none;
       }
       .navigation{
           display: none;
       }
       .minibarx{
           display: none;
       }
       .minibar img{
        width: 50%;
        }
        .minibar div{
            font-size: x-small;
        }
        .fabrics, .hair{
            width: 100%;
        }
        .writeup{
            width: 80%;
            left: 10%;
        }
        .writeup h3{
            color: #ffe9d6;
        }
        .footer1{
            display: none;
        }
    }